<div class="login row">
	<div class="center col-sm-10 col-md-4 col-lg-2">
		<div class="logo">
			<img src="images/logo.png"/>
		</div>
		
		<form class="login-form">
			<div class="alert alert-danger error" role="alert"></div>

			<div class="form-group">
				<i class="fa fa-envelope-o form-control-icon"></i>
			 	<input id="email" name="email" type="text" class="form-control" placeholder="Email">
		 	</div>
		 	
		 	<div class="form-group">
		 		<i class="fa fa-user-secret form-control-icon"></i>
		 		<input id="senha" name="senha" type="password" class="form-control" placeholder="Senha">
	 		</div>
	 		
	 		<div class="form-group row">
	 			<div class="col-sm-12 col-md-12 col-lg-12">
	 				<button onclick="app.login.logar()" type="button" class="btn btn-outline-primary col-sm-12 col-md-12 col-lg-12">
	 					<i class="fa fa-sign-in"></i> Entrar
 					</button>
 				</div>
		    </div>
		</form>
	</div>
</div>